@import '../../../SCSS/Colors.scss';

.form--container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  height: 70%;
  font-size: 2rem;

  @media all and (min-width: 640px) {
    width: 90%;
    height: 70%;
    font-size: 1.2rem;
    justify-content: space-around;
  }

  input {
    outline: none;
    height: 50px;
    width: 100%;
    border: none;
    border-radius: 5px;
    padding: 0 10px;
    font-size: 1.5rem;
    color: $secondary-fontColor;

    @media all and (min-width: 640px) {
      height: 40px;
      font-size: 1.2rem;
    }
  }
}
