@import "../../SCSS/Colors.scss";

.bottom--container {
  height: 100%;
  border-bottom-left-radius: 5px;   
  border-bottom-right-radius: 5px;   
  background: url("../../Assets/Thailand_small.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.bottom--container_shadow {
  width: 100%;
  height: 100%;
  background: rgba(32, 55, 105, 0.315);
}
