@import '../../../SCSS/Colors.scss';

.weather--container {
  display: flex;
  margin: 20px 0 5px 0;
  height: 80%;
  flex-direction: column;
  align-items: center;
  width: 200px;

  .weather--stats {
    margin: 10px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media all and (min-width: 640px) {
      flex-direction: row;
      justify-content: space-evenly;
    }

    .weather--img {
      height: 150px;
      width: 150px;

      @media all and (min-width: 640px) {
        height: 80px;
        width: 80px;
      }

      img {
        height: 100%;
        width: 100%;
      }
    }

    .temperature {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 5rem;
      height: 90px;
      width: 150px;

      @media all and (min-width: 640px) {
        height: 80px;
        width: 80px;
        font-size: 2.5rem;
      }

      &::after {
        content: '\00b0';
      }
    }
  }
}
