@import "SCSS/Colors.scss";

* {
  box-sizing: border-box;
  font-family: "Calibri", "sans-serif";
  color: $main-fontColor;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
}

.app--container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .main--container {
    display: flex;
    flex-direction: column;
    min-width: 700px;
    max-width: 1000px;
    height: 500px;

    .top--section {
      flex: 0 0 50%;
    }

    .bottom--section {
      flex: 0 0 50%;
    }
  }
}
