$topBackgroundColor: rgb(68, 90, 113);
$bottomBackgroundColor: rgb(63, 107, 148);

$main-fontColor: rgb(255, 255, 255);
$main-backgroundColor: rgb(173, 215, 229);
$main-buttonColor: rgb(8, 177, 180);
$hover-buttonColor: rgb(5, 120, 122);
$main-borderColor: rgb(190, 231, 231);

$secondary-fontColor: rgb(128, 128, 128);

